# Python / Backend
backend/__pycache__/
backend/.env
*.pyc

# Flutter / Frontend
frontend/.dart_tool/
frontend/build/
frontend/.flutter-plugins
frontend/.packages
frontend/.pub-cache/

# General Secrets - specific files only (not all .json)
backend/serviceAccountKey.json
backend/*.json
.DS_Store

# Virtual Environment
venv/
env/
backend/venv/
backend/env/

#vscode
.vscode/